{% load static %}
 <html lang="en">
     <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}
        <title>xpmsolutions</title>
        {% endblock %}

        
        
        <link rel="stylesheet" type="text/css" href="css/base.css">

    		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


      <style>
      /* this css for IRSC website slider*/
      @keyframes slidy {
      0% { left: 0%; }
      20% { left: 0%; }
      25% { left: -100%; }
      45% { left: -100%; }
      50% { left: -200%; }
      70% { left: -200%; }
      75% { left: -300%; }
      95% { left: -300%; }
      100% { left: -400%; }
      }

      body { margin: 0; } 
      div#slider { overflow: hidden; }
      div#slider figure img { width: 20%; float: left; }
      div#slider figure { 
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 30s slidy infinite; 
      }
      /* end css for IRSC website slider*/


      footer.page-footer {
          bottom: 0;
          color: #fff;
      }

      .font-small {
          font-size: .9rem;
      }
      .stylish-color-dark {
          background-color: #3e4551!important;
      }
      .pt-4, .py-4 {
          padding-top: 1.5rem!important;
      }
      article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
          display: block;
      }
      *, ::after, ::before {
          box-sizing: border-box;
      }


      #horizontal-line{
      height: 47px;
      border-bottom: 1px solid black;
      }
      </style>
    </head>

    
    <body>
       <div class="container-fluid bg-dark text-right">


          <!-- Button trigger modal -->
<a data-toggle="modal" data-target="#exampleModalCenter">
  Login/Register
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



        </div>        
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">XPMsteadfast</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">S1</a>
                      <a class="dropdown-item" href="#">S2</a>
                      
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Contact Us</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>
            <!-- end navbar-->


            <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">XPMsteadfast</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Welcome to <strong>xpmSteadfast</strong>.
        <h4 class="mt-3 text-warning">
        we will Launch this site soon...
        </h4>
      </div>
        <p class="pl-3">for more details:<br>
            M.: +91 7011101001<br>
            Email: deshdeepakxpm@gmail.com
        </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
            
            <!-- this is body block for index page (after header and before footer)-->
            {% block body %}
            {% endblock %}
            <!--end bodyblock-->


            <!-- FOOTER -->
          <section> 
              <!-- Footer -->
                <footer class="page-footer font-small stylish-color-dark pt-4">

                <!-- Footer Links -->
                <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                  <!-- Grid column -->
                  <div class="pl-0 col-md-2 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
                    <p>+91 9871901493<br>+91 8860397532</p>
                    <p>info@road-sefety.co.in</p>
                    <p>262, Lane No. 4, Westend<br>Marg, Saket, Delhi-110030</p>


                  </div>
                  <!-- Grid column -->

                  <hr class="clearfix w-100 d-md-none">

                  <!-- Grid column -->
                  <div class="col-md-3 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">IMPORTANT LINKS</h5>

                    <ul class="list-unstyled">
                      <li>
                        <a href="#!" class="text-light">iSAFE</a>
                      </li>
                      <li>
                        <a href="#!" class="text-light">Good Samaritan | MoRTH</a>
                      </li>
                      <li>
                        <a href="#!" class="text-light">Driving License Test</a>
                      </li>
                      <li>
                        <a href="#!" class="text-light">Mission Road Safety</a>
                      </li>
                      <li>
                        <a href="#!" class="text-light">Important Resources</a>
                      </li>
                      <li>
                        <a href="#!" class="text-light">Policy portal Login</a>
                      </li>
                    </ul>
                  </div>
                  <!-- Grid column -->

                  <hr class="clearfix w-100 d-md-none">

                  <!-- Grid column -->
                  <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">INFORMATION</h5>

                    <ul class="list-unstyled">
                      <li>
                        <a href="#!" class="text-light">About Us</a>
                      </li>
                      <li>
                        <a href="#!"class="text-light">Collaborate With Us</a>
                      </li>
                      <li>
                        <a href="#!"class="text-light">Privacy Policy</a>
                      </li>
                      <li>
                        <a href="#!"class="text-light">Terms & Conditions</a>
                      </li>
                      <li>
                        <a href="#!"class="text-light">Press Enquiries</a>
                      </li>
                    </ul>

                  </div>
                  <!-- Grid column -->

                  <hr class="clearfix w-100 d-md-none">

                  <!-- Grid column -->
                  <div class="col-md-3 mx-auto">

                    <!-- Links -->
                    <p class="font-weight-bold text-uppercase mt-5 mb-4">Subscribe to Our Newsletter</p>

                    <h6>Excepteur sint occaecat cupidatat <br> non proident, sunt in culpa qui officia</h6>
                    <div>
                      <form method="post" enctype="multipart/form-data">
                        <input type="email" name="email" placeholder="Enter you email">
                        <br>
                        <br>
                        <input class="btn btn-danger col-9" type="submit" name="submit" value="SUBSCRIBE">
                      </form>
                    </div>
                    

                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

                </div>
                <!-- Footer Links -->

                <hr>

                <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                  <a class="btn-floating btn-fb mx-1">
                    <i class="fab fa-facebook-f"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-tw mx-1">
                    <i class="fab fa-twitter"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-gplus mx-1">
                    <i class="fab fa-google-plus-g"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-li mx-1">
                    <i class="fab fa-linkedin-in"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-dribbble mx-1">
                    <i class="fab fa-youtube"> </i>
                  </a>
                </li>
                </ul>
                <!-- Social buttons -->

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2019-20 Copyright
                <a href="https://ww2.road-safety.co.in/" class="text-light"> road-safety.co.in</a>
                </div>
                <!-- Copyright -->

                </footer>

    
        <script type="text/javascript">
        $(window).on('load',function(){
            $('#exampleModal').modal('show');
        });
        </script>

    </body>
    
</html>

